<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>pl.tmforge.whisper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/uvicorn</string>
        <string>server:app</string>
        <string>--host</string>
        <string>0.0.0.0</string>
        <string>--port</string>
        <string>8001</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/tm/whisper-server-mac</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>WHISPER_MODEL</key>
        <string>mlx-community/whisper-large-v3-mlx</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/tm/whisper-server-mac/whisper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/tm/whisper-server-mac/whisper.log</string>
</dict>
</plist>
